/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {


}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .content-wrapper {
    min-height: auto;
  }
  
  .content-wrapper .main-content{
    float: left;
    width: calc(75% - var(--gutter-width));
    margin:0 var(--gutter-width) 0 0;
  }

  .content-wrapper .secondary-content{
    float: left;
    width: calc(25% - var(--gutter-width));
    margin:0 0 0 var(--gutter-width);
    margin-top: 0;
    min-height: 800px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
