

html { height: 100%; font-size: 14px; font-family: Arial; }
body { height: 100%; margin: 0; }

/* ===== Header (FLOAT) ===== */
header {
  padding: var(--gutter-width) calc(var(--gutter-width) * 2);
  box-sizing: border-box;
}
header > h2 { float: left; margin: 0; vertical-align: middle; }
header > h2 > a {
  color: var(--title-color-mobile);
  font-size: 24px; font-weight: bold; text-decoration: none;
}
header > nav { float: left; margin-top: 7px; }
header .app-nav-list > li { float: left; margin-left: var(--gutter-width); }
header .app-nav-list > li a { text-decoration: none; color: var(--title-color-mobile); }
header .app-main-btn {
  float: right;
  border: none;
  padding: calc(var(--gutter-width) / 2) var(--gutter-width);
  
  text-transform: uppercase;
}
header .app-main-btn {
  background: var(--button-color-mobile);
  color: #fff;
}
.clearfix::after { content: ""; display: table; clear: both; }

.app-main-wrap {
  margin: 0 calc(var(--gutter-width) * 2);
  box-sizing: border-box;
}
.app-main-wrap::after { content: ""; display: block; clear: both; }

.app-main { width: 100%; text-align: center; }
.app-main .desc { margin: calc(var(--gutter-width) / 2) 0 var(--gutter-width); }
.app-bg-cont img { width: 100%;}

.app-sidebar{
  float: left;
  width: 100%;
  padding: var(--gutter-width);
  margin-top: var(--gutter-width);
  box-sizing: border-box;
  border: 1px solid #000;
}

footer {
  margin: 0 calc(var(--gutter-width) * 2);
  text-align: center;
  padding: var(--gutter-width) 0;
  box-sizing: border-box;
  clear: both; 
}
