html {
    margin: 0;
    font-size: 14px;
    font-family: Arial;
    height: 100%;
}
body {
    height: 100%;
}
header {
    padding: var(--gutter-width) calc(var(--gutter-width) * 2);
    height: var(--header-height);
    box-sizing: border-box;
}
header > h2 {
    float: left;
    vertical-align: middle;
    margin: 0;
}
header > h2 > a{
    color: var(--title-color-mobile);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}
header > nav {
    float: left;
    margin-top: 7px;
}

header .primary-nav-menu > li{
    float: left;
    margin-left: var(--gutter-width);
}
header .primary-nav-menu > li a {
    text-decoration: none;
    color: var(--title-color-mobile);
}
header .cta-button {
    border: none;
    padding: calc(var(--gutter-width) / 2) var(--gutter-width);
    background: var(--button-color-mobile);
    color: white;
    text-transform: uppercase;
}
header > .cta-button {
    float: right;
}

/*main*/
.content-wrapper {
    margin: 0 calc(var(--gutter-width) * 2);
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    box-sizing: border-box;
    overflow: hidden;
}
.content-wrapper .main-content{
    text-align: center;
    width: 100%;
}
.content-wrapper .secondary-content{
    border: 1px solid #000;
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: var(--gutter-width);
    margin-top: var(--gutter-width);
}
.content-wrapper .description {
    margin: calc(var(--gutter-width) / 2) 0 var(--gutter-width);
}
.content-wrapper .image-container img{
    width: 100%;
}
footer {
    margin: 0 calc(var(--gutter-width) * 2);
    min-height: var(--footer-height);
    text-align: center;
    overflow: auto;
    box-sizing: border-box;
    clear: both;
    padding: var(--gutter-width) 0;
}

