h1, h2 {
  font-weight: bold;
  margin: calc(var(--gutter-width) / 2) 0 var(--gutter-width);
  font-size: 32px; /* для h1 */
}

h2 {
  font-size: 24px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.app-table, .app-desktop {
  display: none;
}

@media (min-width: 768px) {
  h1, h2,
  header > h2 > a,
  header .app-nav-list > li a {
    color: var(--title-color-table);
  }
  header .app-main-btn {
    background: var(--button-color-table);
  }
  .app-mobile { display: none; }
  .app-table { display: block; }
}
@media (min-width: 992px) {
  .app-table { display: none; }
  .app-desktop { display: block; }

  .app-mobile { display: none; }
}

@media (min-width: 1200px) {
  h1, h2,
  header > h2 > a,
  header .app-nav-list > li a {
    color: var(--title-color-desktop);
  }

  header .app-nav-list > li a {
    text-decoration: none;
  }

  header .app-main-btn {
    background: var(--button-color-desktop);
  }
}