:root {
  --title-color-mobile: #7f4ca9;
  --title-color-table: #e67e22;
  --title-color-desktop: #16a085;

  --button-color-mobile: #e74c3c;
  --button-color-table: #3498db;
  --button-color-desktop: #9b59b6;

  --gutter-width: 18px;
  --header-height: 85px;
  --footer-height: 95px;
}
